{{ define "extratitle" }}
<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li><a href="/">Home</a></li>
    <li class="is-active"><a href="#" aria-current="page">Feeds</a></li>
  </ul>
</nav>
{{ end }}

{{ define "main" }}

<h2 class="title is-3">Feeds</h2>

<div id="panel-filters" style="display: none;">
  <div class="block">
    <fieldset class="m-5" style="display: inline-block;">
      <legend class="label">Categories</legend>
      <div class="select is-multiple">
        <select multiple id="feed-cats"></select>
      </div>
    </fieldset>

    <fieldset class="m-5" style="display: inline-block;">
      <legend class="label">Feed Types</legend>
      <div class="select is-multiple">
        <select multiple id="feed-types"></select>
      </div>
    </fieldset>

    <fieldset class="m-5" style="display: inline-block;">
      <legend class="label">Languages</legend>
      <div class="select is-multiple">
        <select multiple id="feed-langs"></select>
      </div>
    </fieldset>
  </div>

  <i class="block">
    Tip: Ctrl-click or Command-click to select multiple filter values
  </i>
</div>

<p class="block">
  <div class="buttons">
    <button id="btn-toggle-filters" class="button is-primary" onclick="toggleFilterPanel();">Show Filters</button>
    <span>
    <span id="shown-feed-count">Loading...</span> {{ .Pages | len | lang.FormatNumberCustom 0 }} feeds shown
    </span>
  </div>
</p>

<table class="table mt-5 is-striped">
  <thead>
    <tr>
      <th></th>
      <th>
        Blog Name
      </th>
      <th>
        Description
      </th>
      <th style="max-width: 20em;">
        Categories
      </th>
    </tr>
  </thead>
  <tbody id="feed-table-body"></tbody>
</table>

<script>
  var filters = {
    types: new Set([]),
    categories: new Set([]),
    languages: new Set([]),
  };

  const feeds = [
    {{- range sort (sort .Pages ".Params.feedlink") ".Params.Score" "desc" -}}
    { "id": "{{ .Params.feedid }}",
      "title": 
        {{- if .Title -}}
          "{{ .Title | truncate 120 }}",
        {{- else -}}
          "{{ .Params.feedlink | truncate 120 }}",
        {{- end -}}
      "desc": "{{ .Params.description | truncate 120 }}",
      "cats": [
        {{- range (first 20 .Params.categories) -}}
          "{{ . | truncate 40 }}",
        {{- end -}}],
      "score": {{ .Params.Score }},
      "type": 
        {{- if .Params.ispodcast -}}
          "Podcast"
        {{- else if eq .Params.feedtype "rss" -}}
          "RSS feed"
        {{- else if eq .Params.feedtype "atom" -}}
          "Atom feed"
        {{- else -}}
          "Web feed"
        {{- end -}},
      "lang": 
        {{- if .Params.language -}}
          "{{ .Params.language }}",
        {{- else -}}
          "",
        {{- end -}}
    },
    {{- end -}}
  ];
</script>
<script src="{{ absURL "discover.js" }}"></script>

{{- end -}}
